/* line 2, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-inquiries-774c7cbe6d87/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form {
  padding-top: 12px;
}
/* line 4, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-inquiries-774c7cbe6d87/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form label {
  width: 150px;
  float: left;
}
/* line 7, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-inquiries-774c7cbe6d87/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form label.required:after {
  content: " *";
}
/* line 11, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-inquiries-774c7cbe6d87/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form input {
  width: 200px;
}
/* line 14, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-inquiries-774c7cbe6d87/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form .field {
  margin: 12px 0px;
}
/* line 17, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-inquiries-774c7cbe6d87/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form .actions {
  margin-left: 150px;
}
/* line 19, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-inquiries-774c7cbe6d87/app/assets/stylesheets/refinery/inquiries/inquiries.css.scss */
.inquiries form .actions input {
  width: auto;
}
