/* line 1, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar {
  background: #404650;
}
/* line 4, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content {
  color: white;
  font-family: Arial;
  font-size: 0.9em;
  font-weight: normal;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0.8em 0.8em 0.5em;
  zoom: 1;
}
/* line 14, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content:before, #site_bar #site_bar_content:after {
  content: "";
  display: table;
}
/* line 16, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content:after {
  clear: both;
}
/* line 18, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content a {
  color: white;
  text-decoration: none;
}
/* line 22, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content a:hover {
  text-decoration: underline;
}
/* line 27, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #editor_switch {
  text-align: center;
}
/* line 30, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #editor_switch a {
  display: inline-block;
  margin-right: 0.3em;
  margin-bottom: 0.5em;
  padding: 0em 1em 0em;
}
@media screen and (min-width: 37.5em) {
  /* line 27, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #editor_switch {
    text-align: left;
  }
}
/* line 41, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #site_bar_refinery_cms_logo {
  background: url(/assets/refinery/logo-site-bar-9b8b195d605f83702f331b0f0f2f649685bf9f76c55f458aac76044e2c8802b9.png) no-repeat 0 100%;
  display: none;
  height: 29px;
  overflow: hidden;
  margin-top: -2px;
  position: relative;
  width: 96px;
}
@media screen and (min-width: 58em) {
  /* line 41, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #site_bar_refinery_cms_logo {
    display: block;
  }
}
/* line 54, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #site_bar_refinery_cms_logo span {
  position: absolute;
  left: -1000em;
}
/* line 60, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #site_bar_branding, #site_bar #site_bar_content #editor_switch {
  display: block;
  margin-top: 0.5em;
}
@media screen and (min-width: 37.5em) {
  /* line 60, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #site_bar_branding, #site_bar #site_bar_content #editor_switch {
    margin-top: 0.25em;
  }
}
/* line 69, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #site_bar_branding {
  text-align: center;
}
@media screen and (min-width: 37.5em) {
  /* line 69, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #site_bar_branding {
    text-align: right;
  }
}
/* line 76, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #site_bar_branding #site_bar_company_name {
  display: block;
  font-weight: bold;
}
@media screen and (min-width: 37.5em) {
  /* line 76, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #site_bar_branding #site_bar_company_name {
    display: inline-block;
  }
}
/* line 85, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
#site_bar #site_bar_content #site_bar_branding #logout {
  display: block;
  margin-left: 0.9em;
}
@media screen and (min-width: 37.5em) {
  /* line 85, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #site_bar_branding #logout {
    display: inline-block;
  }
}

@media screen and (min-width: 37.5em) {
  /* line 100, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #editor_switch,
  #site_bar #site_bar_content #site_bar_branding {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 58em) {
  /* line 112, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #editor_switch {
    width: 50%;
  }
  /* line 116, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #site_bar_branding {
    width: 38%;
  }
  /* line 120, /Users/murbelka/.rvm/gems/ruby-2.1.3/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/site_bar.scss */
  #site_bar #site_bar_content #site_bar_refinery_cms_logo {
    float: left;
    width: 12%;
  }
}
