/* alignment styles */
/* line 3, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.text-align-left {
  text-align: left;
}

/* line 6, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.text-align-center {
  text-align: center;
}

/* line 9, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.text-align-right {
  text-align: right;
}

/* line 12, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.text-align-justify {
  text-align: justify;
}

/* block alignment styles */
/* line 17, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.image-align-left {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}

/* line 22, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.image-align-right {
  float: right;
  margin-left: 6px;
  margin-bottom: 6px;
}

/* font sizes */
/* line 29, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.font-size-small {
  font-size: 0.75em;
}

/* line 32, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.font-size-normal {
  font-size: 1em;
}

/* line 35, /Users/a1ex/.rvm/gems/ruby-2.3.0/bundler/gems/refinerycms-7c758c4cc384/core/app/assets/stylesheets/refinery/theme.scss */
.font-size-large {
  font-size: 1.25em;
}
