<!-- container -->
		<div class="container">
			<!-- breadcrumbs -->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li>Biography</li>
				</ul>
			</nav>
			<!-- single-post -->
			<article class="single-post">
				<h1>IRON BAND’S BIOGRAPHY</h1>
				<!-- image -->
				<div class="image">
					<img class="fs-img" data-src="http://placehold.it/1064x353" data-aspect-ratio="auto" alt="image description">
					<noscript>
						<img src="http://placehold.it/1064x353" width="1064" height="353" alt="image description">
					</noscript>
				</div>
				<h2>The Day it all began.</h2>
				<!-- two-columns -->
				<div class="two-columns">
					<!-- column -->
					<div class="column">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at urna mi. Suspendisse sed purus quis neque fringilla sodales eu sed est. Phasellus libero nunc, sodales eu vestibulum id, facilisis posuere mi. Donec mattis sem sed ante consectetur accumsan. Nunc eget ligula vitae lorem fermentum ultrices a eget ante. Fusce eleifend consequat nunc, quis varius tellus sodales quis. Cras porttitor ultrices metus, eu egestas leo vehicula tincidunt. Maecenas vitae sem nulla, vitae rhoncus elit. Suspendisse ac enim libero. Nulla eu justo a massa sagittis molestie at eget quam. Pellentesque nisi mi, sodales sed ornare eget, luctus vel eros. Sed vitae est elit, sit amet dapibus tortor. Nullam vel turpis orci. Donec scelerisque molestie semper. Nunc ultrices, nibh at adipiscing tincidunt, nibh elit venenatis sapien, nec sollicitudin magna dolor et ipsum. Ut placerat nunc non sapien eleifend gravida.</p>
						<!-- blockquote-block -->
						<div class="blockquote-block">
							<blockquote>
								<strong class="title">BLOCK QUOTE</strong>
								<q>Nulla nec diam dolor, eget aliquet mauris. Suspendisse potenti. Fusce placerat lacus quis mauris fermentum eget volutpat ante tincidunt. Fusce porta quam vel lectus porta suscipit.</q>
							</blockquote>
						</div>
					</div>
					<!-- column -->
					<div class="column">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at urna mi. Suspendisse sed purus quis neque fringilla sodales eu sed est. Phasellus libero nunc, sodales eu vestibulum id, facilisis posuere mi. Donec mattis sem sed ante consectetur accumsan. Nunc eget ligula vitae lorem fermentum ultrices a eget ante. Fusce eleifend consequat nunc, quis varius tellus sodales quis. Cras porttitor ultrices metus, eu egestas leo vehicula tincidunt. Maecenas vitae sem nulla, vitae rhoncus elit. Suspendisse ac enim libero. Nulla eu justo a massa sagittis molestie at eget quam. Pellentesque nisi mi, sodales sed ornare eget, luctus vel eros. Sed vitae est elit, sit amet dapibus tortor. Nullam vel turpis orci. Donec scelerisque molestie semper. Nunc ultrices, nibh at adipiscing tincidunt, nibh elit venenatis sapien, nec sollicitudin magna dolor et ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at urna mi. Suspendisse sed purus quis neque fringilla sodales eu sed est. Phasellus libero nunc, sodales eu vestibulum id, facilisis posuere mi. Donec mattis sem sed ante consectetur accumsan. Nunc eget ligula vitae lorem fermentum ultrices a eget ante. Fusce eleifend consequat nunc, quis varius tellus sodales quis.</p>
						<p>Cras porttitor ultrices metus, eu egestas leo vehicula tincidunt. Maecenas vitae sem nulla, vitae rhoncus elit. Suspendisse ac enim libero. Nulla eu justo a massa sagittis molestie at eget quam. Pellentesque nisi mi, sodales sed ornare eget, luctus vel eros. Sed vitae est elit, sit amet dapibus tortor. Nullam vel turpis orci. Donec scelerisque molestie semper. Nunc ultrices, nibh at adipiscing tincidunt, nibh elit venenatis sapien, nec sollicitudin magna dolor et ipsum.</p>
					</div>
				</div>
				<!-- links-block -->
				<aside class="links-block">
					<div class="buttons">
						<!-- AddThis Button BEGIN -->
						<div class="addthis_toolbox addthis_default_style">
						<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
						<a class="addthis_button_tweet"></a>
						<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
						</div>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51719dd0019cdf21"></script>
						<!-- AddThis Button END -->
					</div>
					<a class="button" href="#">PRINT PAGE</a>
				</aside>
				<!-- comments -->
				<section class="comments">
					<div class="fb-comments" data-href="http://example.com" mobile="none" data-width="470" data-num-posts="4"></div>
				</section>
			</article>
		</div>
