<!-- container -->
		<div class="container">
			<!-- breadcrumbs -->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li>Booking</li>
				</ul>
			</nav>
			<h1>Booking</h1>
			<!-- two-columns form-block -->
			<div class="two-columns form-block">
				<!-- column -->
				<div class="column">
					<h2>Contact our booking agency</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at urna mi. Suspendisse sed purus quis neque fringilla sodales eu sed est. Phasellus libero nunc, sodales eu vestibulum id, facilisis posuere mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at urna mi. Suspendisse sed purus quis neque fringilla sodales eu sed est. Phasellus libero nunc, sodales eu vestibulum id.</p>
					<!-- contact-box -->
					<div class="contact-box">
						<img src="images/logo-2.png" width="103" height="103" alt="image description">
						<address>
							<strong class="title">Booking Company</strong>
							<p>
								3456, Coronation Street<br>
								Montreal (Canada)<br>
								H4E 1P5
							</p>
							<p><a href="mailto:&#066;&#111;&#111;&#107;&#105;&#110;&#103;&#064;&#105;&#114;&#111;&#110;&#098;&#097;&#110;&#100;&#046;&#099;&#111;&#109;">&#066;&#111;&#111;&#107;&#105;&#110;&#103;&#064;&#105;&#114;&#111;&#110;&#098;&#097;&#110;&#100;&#046;&#099;&#111;&#109;</a> <strong class="phone">1 (555) 555-5555</strong></p>
						</address>
					</div>
				</div>
				<!-- column -->
				<div class="column">
					<h2>Contact us directly</h2>
					<p class="error"></p>
					<!-- form -->
					<form id="contact" class="form" action="#">
						<fieldset>
							<div class="row">
								<label for="name">Name</label>
								<input type="text" name="name">
							</div>
							<div class="row">
								<label for="email2">Email</label>
								<input type="email" name="email">
							</div>
							<div class="row">
								<label for="company">Company</label>
								<input type="text" name="company">
							</div>
							<div class="row">
								<label for="message">Message</label>
								<textarea name="message" cols="30" rows="10"></textarea>
							</div>
							<div class="row wrap">
								<input type="submit" value="SEND">
							</div>
						</fieldset>
					</form>
					<p class="success"><span>Thank you</span><br>We will contact you shortly</p>
				</div>
			</div>
		</div>
