<div class="container">
			<!-- breadcrumbs -->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li>Discography</li>
				</ul>
			</nav>
			<h1>IRON BAND DISCOGRAPHY</h1>

			<!-- discography -->
			<div id="discography" class="listing-section">
				<!-- media-block -->
				<div class="media-block">
					<a href="video-discography-album.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/216x216" width="216" height="216" alt="image description">
							</div>
							<div class="text-box">
								<h2>ALBUM BLACK</h2>
								<time class="date" datetime="2012-10-01">Release date: 01-Oct-2012</time>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-discography-album.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/216x216" width="216" height="216" alt="image description">
							</div>
							<div class="text-box">
								<h2>LIVE STADIUM</h2>
								<time class="date" datetime="2012-09-26">Release date: 26-Sep-2012</time>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-discography-album.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/216x216" width="216" height="216" alt="image description">
							</div>
							<div class="text-box">
								<h2>SINGLE 2013</h2>
								<time class="date" datetime="2012-10-01">Release date: 01-Oct-2012</time>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-discography-album.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/216x216" width="216" height="216" alt="image description">
							</div>
							<div class="text-box">
								<h2>NATURE</h2>
								<time class="date" datetime="2012-10-01">Release date: 01-Oct-2012</time>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- button-more -->
			<a data-rel="discography" class="button-more" href="inc/discography1.html">MORE ALBUM</a>
		</div>
