<div class="container">
			<!-- breadcrumbs -->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li>Gigs</li>
				</ul>
			</nav>
			<h1>IRON BAND GIGS</h1>
			<!-- concerts-list -->
			<ul class="concerts-list">
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig1" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig2" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig3" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig4" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig5" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig6" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig7" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig8" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig9" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>/a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig10" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
				<li>
					<!-- title-row -->
					<div class="title-row">
						<time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
						<span class="location">NEW YORK (NYC) USA</span>
						<span>@THE BALLROOM</span>
						<div class="buttons">
							<a id="gig11" class="open-link" href="#">
								<span class="opener">MORE INFOS</span>
							</a>
							<a class="link" target="_blank" href="https://maps.google.ca/maps?q=NEW+YORK+(NYC)+USA&hl=en&sll=45.558042,-73.730303&sspn=0.850969,1.987152&hnear=New+York,+United+States&t=m&z=11">View Map</a>
							<a class="button" href="#">TICKETS</a>
						</div>
					</div>
					<!-- slide -->
					<div class="slide">
						<div class="holder">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis porttitor mauris ac euismod. Aenean sagittis nunc vitae neque viverra feugiat. In hac habitasse platea dictumst. Sed aliquam magna sit amet risus iaculis lobortis eget non mi. Sed tincidunt aliquet bibendum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Sed in sem a lacus elementum luctus. Nulla facilisi. Nulla tempor, nisi ut lobortis luctus, velit lectus sodales nibh, non rhoncus magna urna at nisl. Nunc eu convallis velit. Donec varius, nisi vitae tincidunt ultrices, lorem tortor lobortis quam, vel luctus lacus ipsum eget eros. Maecenas pharetra, eros non gravida iaculis, ipsum diam fermentum arcu, commodo cursus lectus ante eu ligula. Pellentesque velit lectus, semper eu sollicitudin sed, feugiat vel ipsum.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
