        
        
        <!-- gallery -->

        <div class="gallery responsive">
            <div class="mask">
                <ul class="slideset">
                  <% @page.images.each do |image| %>


                    <li class="slide" data-transition="slidedown" data-slotamount="10" data-masterspeed="300" data-thumb="http://placehold.it/320x145">
                        <img src="<%= image.image.url %>">
                        <!--<div class="caption text-box lfl lfl" data-x="-91" data-y="140" data-speed="300" data-start="800" data-easing="easeOutExpo">                            -->
                            <!--<h1><span>NEW ALBUM</span> <span>RELEASE</span></h1>-->
                            <!--<a class="more" href="articles.html">READ MORE</a>-->
                            <!--<div style="" class="tp-leftarrow tparrows default"></div>-->
                            <!--<div style="" class="tp-rightarrow tparrows default"></div>-->
                        <!--</div>-->
                    </li>
                  <% end %>
                </ul>
            </div>
        </div>  
                    
        <!-- container -->
        <div class="container">

            <!-- section -->
            <section class="section">
                <!-- heading -->
                <header class="heading">
                    <h1>NEWS</h1>
                    <a class="link" href="articles-home.html">All News</a>
                </header>
                <!-- carousel responsive1 -->
                <div class="carousel responsive1">
                    <div class="mask">
                        <!-- slideset -->
                        <div class="slideset">
                            <!-- slide -->
                            <div class="slide">
                                <a href="articles.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <div class="text">
                                        <h2>WE WILL BE OPENING FOR BAND OF HORSES NEXT WEEK</h2>
                                        <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                                        <span class="more">More</span>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a href="articles.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <div class="text">
                                        <h2>NEW CANADIAN TOUR DATES TO BE ANNOUCED</h2>
                                        <time class="date" datetime="2012-04-07">APRIL 7TH, 2012</time>
                                        <span class="more">More</span>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a href="articles.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <div class="text">
                                        <h2>WATCH OUR PERFORMANCE AT THE MUSIC AWARD</h2>
                                        <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                                        <span class="more">More</span>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a href="articles.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <div class="text">
                                        <h2>WE WILL BE OPENING FOR BAND OF HORSES NEXT WEEK</h2>
                                        <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                                        <span class="more">More</span>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a href="articles.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <div class="text">
                                        <h2>NEW CANADIAN TOUR DATES TO BE ANNOUCED</h2>
                                        <time class="date" datetime="2012-04-07">APRIL 7TH, 2012</time>
                                        <span class="more">More</span>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a href="articles.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <div class="text">
                                        <h2>WATCH OUR PERFORMANCE AT THE MUSIC AWARD</h2>
                                        <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                                        <span class="more">More</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="btn-prev" href="#">Previous</a>
                    <a class="btn-next" href="#">Next</a>
                </div>
            </section>
            <!-- section -->
            <section class="section">
                <!-- heading -->
                <header class="heading">
                    <h1>GIGS</h1>
                    <a class="link" href="gigs.html">All Gigs</a>
                </header>
                <!-- carousel responsive2 -->
                <div class="carousel responsive2">
                    <div class="mask">
                        <!-- slideset -->
                        <div class="slideset">
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig1" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
                                        <span class="location">NEW YORK (NYC) USA</span>
                                        @THE BALLROOM
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig2" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-06-01">JUNE 1ST 2012</time>
                                        <span class="location">TORONTO, CANADA</span>
                                        @THE MYST
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig3" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-07-12">JULY 12TH 2012</time>
                                        <span class="location">MONTREAL, CANADA</span>
                                        @METROPOLIS
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig4" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
                                        <span class="location">NEW YORK (NYC) USA</span>
                                        @THE BALLROOM
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig5" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-06-01">JUNE 1ST 2012</time>
                                        <span class="location">TORONTO, CANADA</span>
                                        @THE MYST
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig6" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-07-12">JULY 12TH 2012</time>
                                        <span class="location">MONTREAL, CANADA</span>
                                        @METROPOLIS
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig7" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
                                        <span class="location">NEW YORK (NYC) USA</span>
                                        @THE BALLROOM
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig8" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-06-01">JUNE 1ST 2012</time>
                                        <span class="location">TORONTO, CANADA</span>
                                        @THE MYST
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig9" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-07-12">JULY 12TH 2012</time>
                                        <span class="location">MONTREAL, CANADA</span>
                                        @METROPOLIS
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig10" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-05-27">MAY 27TH 2012</time>
                                        <span class="location">NEW YORK (NYC) USA</span>
                                        @THE BALLROOM
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="concert-box" data-rel="gig11" href="gigs.html">
                                    <div class="info">
                                        <time class="date" datetime="2012-06-01">JUNE 1ST 2012</time>
                                        <span class="location">TORONTO, CANADA</span>
                                        @THE MYST
                                    </div>
                                    <div class="hover-box">
                                        GET TICKETS
                                    </div>
                                    <span class="more">More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="btn-prev" href="#">Previous</a>
                    <a class="btn-next" href="#">Next</a>
                </div>
            </section>
            <!-- section -->
            <section class="section">
                <!-- heading -->
                <header class="heading">
                    <h1>VIDEOS</h1>
                    <a class="link" href="video-home.html">All Videos</a>
                </header>
                <!-- carousel responsive3 -->
                <div class="carousel responsive3">
                    <div class="mask">
                        <!-- slideset -->
                        <div class="slideset">
                            <!-- slide -->
                            <div class="slide">
                                <a class="video-box" href="video-page.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <span class="btn-play">PLAY VIDEO</span>
                                    <div class="hover-box">
                                        <h2>BRACE YOURSELF VIDEOCLIP</h2>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="video-box" href="video-page.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <span class="btn-play">PLAY VIDEO</span>
                                    <div class="hover-box">
                                        <h2>BRACE YOURSELF VIDEOCLIP</h2>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="video-box" href="video-page.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <span class="btn-play">PLAY VIDEO</span>
                                    <div class="hover-box">
                                        <h2>BRACE YOURSELF VIDEOCLIP</h2>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="video-box" href="video-page.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <span class="btn-play">PLAY VIDEO</span>
                                    <div class="hover-box">
                                        <h2>BRACE YOURSELF VIDEOCLIP</h2>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="video-box" href="video-page.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <span class="btn-play">PLAY VIDEO</span>
                                    <div class="hover-box">
                                        <h2>BRACE YOURSELF VIDEOCLIP</h2>
                                    </div>
                                </a>
                            </div>
                            <!-- slide -->
                            <div class="slide">
                                <a class="video-box" href="video-page.html">
                                    <img src="http://placehold.it/326x183" width="326" height="183" alt="image description">
                                    <span class="btn-play">PLAY VIDEO</span>
                                    <div class="hover-box">
                                        <h2>BRACE YOURSELF VIDEOCLIP</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="btn-prev" href="#">Previous</a>
                    <a class="btn-next" href="#">Next</a>
                </div>
            </section>
        </div>
        
        