<div class="container">
			<!-- breadcrumbs -->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li>Videos</li>
				</ul>
			</nav>
			<h1>IRON BAND VIDEOS</h1>
			<!-- filters-block -->

			<!-- video -->
			<div id="video" class="listing-section videos">
				<!-- media-block -->
				<div class="media-block">
					<a href="video-page.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/309x174" width="309" height="174" alt="image description">
							</div>
							<div class="text-box">
								<h2>TRASH CAN IDIOT</h2>
								<span class="category">VIDEOCLIP</span>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-page.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/309x174" width="309" height="174" alt="image description">
							</div>
							<div class="text-box">
								<h2>LIVE AT THE STADIUM</h2>
								<span class="category">LIVE SHOW</span>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-page.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/309x174" width="309" height="174" alt="image description">
							</div>
							<div class="text-box">
								<h2>TRASH CAN IDIOT</h2>
								<span class="category">VIDEOCLIP</span>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-page.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/309x174" width="309" height="174" alt="image description">
							</div>
							<div class="text-box">
								<h2>TRASH CAN IDIOT</h2>
								<span class="category">VIDEOCLIP</span>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-page.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/309x174" width="309" height="174" alt="image description">
							</div>
							<div class="text-box">
								<h2>TRASH CAN IDIOT</h2>
								<span class="category">VIDEOCLIP</span>
							</div>
						</div>
					</a>
				</div>
				<!-- media-block -->
				<div class="media-block">
					<a href="video-page.html">
						<div class="holder">
							<div class="image">
								<img src="http://placehold.it/309x174" width="309" height="174" alt="image description">
							</div>
							<div class="text-box">
								<h2>TRASH CAN IDIOT</h2>
								<span class="category">VIDEOCLIP</span>
							</div>
						</div>
					</a>
				</div>				
			</div>
			<!-- button-more -->
			<a data-rel="video" class="button-more" href="inc/video1.html">MORE VIDEOS</a>
		</div>
