<!-- <nav id="recent_news_items">
  <h2><%= t('.recent_posts') %></h2>
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= link_to item.title, refinery.news_item_path(item) %>
      </li>
    <% end %>
  </ul>
</nav>

 -->



<div class="owl-carousel">
	<% @items.each do |item| %>
        <div class="item">
            <div class="box3x">
                <a href="#">
                    <div class="box3x_top" data-equal-group="2">
                        <div class="box3x_aside">
                            <span class="num"><%= l(item.publish_date, :format => '%d') %></span>
                            <%= l(item.publish_date, :format => '%m/ %y') %>
                        </div>
                        <div class="box3x_cnt__no-flow">
                            <%= item.body.html_safe %>
                        </div>
                    </div>
                    <div class="box3x_bottom" data-equal-group="3">
                        <h6><%= item.title %></h6>
                    </div>
                </a>
            </div>
        </div>
       
    <% end %>
</div>