<main>
    <section class="well1">
        <div class="container">
<% content_for :body do %>
  <%= raw @page.content_for(:body) %>
  <%= render 'refinery/portfolio/items/items', :items => @items %>
  <%= render 'galleries', :galleries => @galleries %>
<% end %>


<%= render '/refinery/content_page', :hide_sections => [:intro, :quote, :body_content_title] %>

		</div>	
	</section>
</main>

