
<%- if items.present? -%>
  <div class="gamma-container gamma-loading" id="gamma-container">
    <ul id="galleries" class='gamma-gallery'>
      <%= render items %>
    </ul>
    <div class="gamma-overlay"></div>
  </div>
<%- end -%>
