<li>
	<div data-alt="<%=item.id %>" data-description="<h3><%= item.title %></h3>" data-max-width="<%=item.image.width %>" data-max-height="<%=item.image.height %>">
		<div data-src="<%=item.image.thumbnail(:geometry => '1300x1300').url %>" data-min-width="1300"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '1000x1000').url %>" data-min-width="1000"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '700x700').url %>" data-min-width="700"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '300x300').url %>" data-min-width="300"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '200x200').url %>" data-min-width="200"></div>
		<div data-src="<%=item.image.thumbnail(:geometry => '140x140').url %>" data-min-width="140"></div>
	</div>
</li>

