<!--<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
-->

<footer id="footer">
            <!-- footer-block -->
            <div class="subscribe-block">
                <form action="#">
                    <fieldset>
                        <label for="email">Subscribe to our <strong>newsletter</strong></label>
                        <div class="box">
                            <input type="email" name="email" placeholder="Yourname@email.com">                  
                            <input type="submit" value="SUBSCRIBE">
                            <p class="status"></p>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- footer-row -->
            <div class="footer-row">
                <div class="text-box">
                    <div class="text">
                      Copyright © <%=Time.now.year%>
                    </div>
                </div>
            </div>
        </footer>