 <!--<header>
        <div class="container">
            <div class="brand">
                <h1 class="brand_name">
                    <%= link_to Refinery::Core.site_name, refinery.root_path %>
                </h1>
            </div>
        </div> 
        <div id="stuck_container" class="stuck_container">
            <div class="container">
                <%= navigation_menu.to_html %>
            </div>
        </div>
    </header>-->


 <header id="header">
            <!-- logo -->
            <strong class="logo">
                <a href="<%=refinery.root_path %>">
                  <%=image_tag "otmlogo", :class => "logo-desktop"%>
                  <%=image_tag "logo-mobile", :class => "logo-mobile"%>
                </a>
            </strong>           
            <!-- slogan -->
            <strong class="slogan">One Time Mountain</strong>
            <!-- blockquote-box -->
            <div class="blockquote-box" style="visibility: hidden">
                <blockquote>
                    <q></q>
                    <cite></cite>
                </blockquote>
            </div>
        </header>

        <div class="panel">
            <a class="opener" href="#"><span>Menu</span></a>
            <!-- nav-holder -->
            <div class="nav-holder">
                <!-- nav -->
                <%= navigation_menu.to_html %>
                
                <!-- social-networks -->
                <div style="float: right; padding:16px 16px 11px 10px;">
                    <a href="#"><%=image_tag "fb"%></a>
                    <a href="#"><%=image_tag "ig"%></a>
                    <a href="#"><%=image_tag "yt"%></a>
                    <a href="#"><%=image_tag "tw"%></a>
                </div>
            </div>
        </div>