 

    <meta charset='<%= Rails.application.config.encoding %>' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title><%= browser_title(yield(:title)) %></title>
	<%= stylesheet_link_tag "application" %>
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css" media="screen">
		<script type="text/javascript" src="js/ie.js"></script>
	<![endif]-->