


<%= form_for [refinery, :inquiries, inquiry], html: { class: "contact-form", id: "contact-form" } do |f| %>
  <%= render :partial => "/refinery/admin/error_messages",
             :locals => {
               :object => inquiry,
               :include_object_name => true
             } %>
  <div class="contact-form-loader"></div>
    <fieldset>
      <label class="name placeholder-fallback required">
    
    <%= f.text_field :name, :class => 'text', :required => 'required',
      :placeholder => (t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
  </label>
    <label class="email placeholder-fallback required">
    <%= f.text_field :email, :class => 'text email', :required => 'required',
      :placeholder => (t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
  </label>
    
  <% if Refinery::Inquiries.show_phone_number_field %>
  <label class="phone placeholder-fallback">
      <%= f.text_field :phone, :class => 'text phone',
        :placeholder => (t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
  </label>
  <% end %>
<label class="message placeholder-fallback required">
    <%= f.text_area :message, :rows => 8, :required => 'required',
      :placeholder => (t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') if Refinery::Inquiries.show_placeholders) %>
  </label>
      </fieldset>
  
   <button class="btn btn3" style="border: 0">Send</button>

  
<% end %>
