<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <head>
    <%= render "/refinery/head" %>
    

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div id="wrapper">

        <%= render "/refinery/header" -%>
        <%= yield %>
      
  
        <%= render "/refinery/footer" -%>
 
    
    <%= render "/refinery/javascripts" %>
    <script src="//maps.google.com/maps/api/js?sensor=false"></script>

    <script type="text/javascript">

      

//      $(function() {
//
//        var GammaSettings = {
//            // order is important!
//            viewport : [ {
//              width : 1200,
//              columns : 5
//            }, {
//              width : 900,
//              columns : 4
//            }, {
//              width : 500,
//              columns : 3
//            }, {
//              width : 320,
//              columns : 2
//            }, {
//              width : 0,
//              columns : 2
//            } ]
//        };
//
//        Gamma.init( GammaSettings );
//
//      });

</script>
    </div>
  </body>
</html>
